<videojuegos-list videojuegos="$ctrl.videojuegos"></videojuegos-list>






<!-- Splash banner that only shows when not logged in -->
<!-- <div class="banner" show-authed="false">
    <div class="container">
      <h1 class="logo-font" ng-bind="::$ctrl.appName | lowercase"></h1>
      <p>Videojuegos</p>
    </div>
  </div>

  <div class="container page">
    <div class="row"> -->

        <!-- DATOS -->

            <!-- <div class="videojuego" ng-repeat="videojuego in $ctrl.videojuegos">
                <li class="nav-item">{{videojuego.title}}</li>
                <button ng-click="openDetails()">Detalles</button> 
            </div>
        -->







<!-- <videojuegos-list videojuegos="$ctrl.videojuegos"></videojuegos-list> -->